.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.apps-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Bree Serif';
  font-size: 45px;
  color: #1e293b;
  font-weight: 700;
  margin-bottom: 40px;
}

.search-bar-container {
  align-self: center;
  width: 280px;
  height: 43px;
  background-color: transparent;
  border: 1px solid #7b8794;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  display: flex;
  justify-content: space-between;
}

.input-text {
  flex-grow: 1;
  border: 0 solid;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: #1e293b;
}

.search-icon {
  height: 24px;
  width: 24px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-left: 0px;
}

.apps-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
